/*
 * @file style for common
 * @author leozhang2018 <leozhang2018@gmail.com>
 */
@import "./utils.less";
@import "./normalize.css";
@header-height: 80px;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    font-family: "Core Sans N 45 Regular","Core Sans N 55 Medium",'Helvetica Neue', Helvetica, "PingFang SC","Hiragino Sans GB","微软雅黑","Microsoft Yahei","WenQuanYi Micro Hei", Arial, Verdana, sans-serif !important;
}

.icon {
    display: inline-block;
}

.hidden,
iframe {
    display: none;
}

dd,
dl,
dt,
li,
ol,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: 0;
}

body {
    //min-width: 960px;
    // @media @phone {
    //     min-width: auto;
    //     width: 100%;
    // }
}

.g-header {
    position: relative;
    top: 0;
    width: 100%;
    font-family: 'Core Sans N 55 Medium';
    //min-width: 960px;
    background-color: #fff;
    // border-bottom: 1px solid #e6e9f0;
    .g-container {
        .content()
    }
}

.g-header .logo {
    position: absolute;
    left: 0;
    top: 22px;
    width: 45px;
    height: 30px;
    background-size: 45px;
    background-image: url("../img/header/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    // background-color: blue;
}

.g-header .title {
    position: absolute;
    left: 57px;
    top: 25px;
    // width: 72px;
    // background-color: red;
    a {
        color: #333333;
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 32px;
    }
}
@login-height: 40px;
@login-content-height: @login-height - 1px * 2;
@hover-color: #1989fa;

.g-header .back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 0;
    // background-color: blue;
    .back-homepage-btn {
        display: inline-block;
        width: 96px;
        height: 40px;
        color: #666666;
        font-size: 14px;
        font-weight: 500;
        line-height: @login-height;
        text-align: center;
        border: 1px solid #CCCCCC;
        background-color: white;
        transition: all 0.3s ease;
    }

    .back-homepage-btn:hover {
        background-color: @hover-color;
        color: #fff;
        border: 1px solid @hover-color;
    }
}

.g-header .g-container .nav {
    line-height: @header-height;
    text-align: left;
    margin-left: 180px;
    font-size: 14px;
    font-weight: 500;
    // background-color: blue;
}

.g-header .g-container .nav li {
    display: inline-block;
}

.g-header .g-container .nav li .nav-link {
    box-sizing: border-box;
    color: #666666;
    margin: 0 20px;
    display: inline-block;
    font-size: 14px;
}

.g-header .g-container .nav li .nav-link:first-child {
    margin-left: 0;
}

.g-footer {
    position: relative;
    overflow: hidden;
    padding: 90px 0 86px;
    background-color: #1a1a1a;
}

.g-footer .g-container {
    .content();
    font-size: 14px;
    overflow: hidden;

    a {
        color: #fff;
        font-weight: 400;
        cursor: pointer;
    }
}

.g-footer .g-container .sns .icons-logo {
    margin-right: 237px;
    width: 94px;
    height: 30px;
    // background-color: blue;
}

.g-footer .g-container .sns {
    // background-color: red;
    float: left;
    width: 300px;

    ul {
        position: relative;
        margin-top: 39px;
        // background-color: yellow;
        li:first-child {
            padding-left: 0;
        }

        li {
            position: relative;
            display: inline-block;
            padding: 10px;
            margin-right: 5px;

            .github {
                display: block;
                width: 14px;
                height: 14px;
                background-image: url("../img/footer/github.png");
                background-repeat: no-repeat;
                background-size: 14px 14px;
            }

            .weibo {
                display: block;
                width: 14px;
                height: 14px;
                background-image: url("../img/footer/weibo.png");
                background-repeat: no-repeat;
                background-size: 14px 14px;
            }

            .wechat {
                display: block;
                width: 14px;
                height: 14px;
                background-image: url("../img/footer/weixin.png");
                background-repeat: no-repeat;
                background-size: 14px 14px;
            }

            .qrcode {
                position: absolute;
                width: 140px;
                top: 35px;
                left: 50%;
                margin-left: -70px;
                max-height: 0;
                overflow: hidden;
                -webkit-transition: max-height 0.4s linear;
                -moz-transition: max-height 0.4s linear;
                transition: max-height 0.4s linear;
            }

            span {
                display: block;
                position: relative;
                margin-top: 10px;
                width: 140px;
                background: #fff;
            }

            span:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 1px;
                border: 8px solid transparent;
                border-bottom-color: #fff;
                left: 50%;
                top: -17px;
                margin-left: -8px;
            }

            span img {
                width: 120px;
                height: 120px;
                padding: 10px;
                display: block;
            }
        }

        li:last-child:hover .qrcode {
            max-height: 200px;
        }
    }

    .icons-logo .f-icon-logo {
        display: block;
        width: 46px;
        height: 31px;
        background-image: url("../img/footer/Logo_footer.png");
        background-repeat: no-repeat;
        background-size: 46px 31px;
        // background-color: yellow;
    }
}

.g-footer .g-container .webmap {
    // background-color: blue;
    ul {
        overflow: hidden;
        margin-top: -4px;

        li {
            float: left;
            width: 160px;
            margin-right: 20px;

            a {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.502);
                font-weight: 400;
            }

            ul.sub-menu {
                margin-top: 21px;

                li {
                    float: none;
                    height: 43px;
                    line-height: 43px;

                    a {
                        font-weight: 500;
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.g-footer .g-container .web-record {
    margin-top: 23px;

    a {
        font-size: 12px;
        margin-right: 12px;
    }
}

.g-footer .g-container .footer-legal {
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 25px;
    padding-top: 36px;

    .copyright {
        float: left;
        margin-right: 30px;
        color: #fff;
    }

    .footer-legal-links {
        float: left;
        overflow: hidden;
        margin-top: 4px;

        li {
            float: left;
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            margin-right: 20px;
            padding-right: 20px;
            height: 14px;
            line-height: 16px;

            a {
                white-space: nowrap;
                height: 14px;
                line-height: 14px;
            }
        }

        li:last-child {
            border: none;
        }
    }
    .cloud-verify{
        float: right;
        // background-color: yellow;
        .verify-logo{
        display: block;
        width: 30px;
        height: 35px;
        background-image: url("../img/footer/kexinyun.png");
        background-repeat: no-repeat;
        background-size: 30px 35px;
        } 
    }
}
