<div class="g-footer">
    <div class="g-container">
        <div class="icons-logo">
            <a href="#TODO" class="f-icon-logo"></a>
        </div>
        <ul class="webmap">
            <li>
                <dl>
                    <!-- <dt>招聘</dt> -->
                    <dd><a href="social.html">社会招聘</a></dd>
                    <dd><a href="campus.html">校园招聘</a></dd>
                    <dd><a href="aboutus.html">认识七牛</a></dd>
                    <dd><a href="workhere.html">人在七牛</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <!-- <dt>官网</dt> -->
                    <dd><a href="http://www.qiniu.com/">七牛官网</a></dd>
                    <dd><a href="http://blog.qiniu.com/">官方博客</a></dd>
                    <dd><a href="http://developer.qiniu.com/resource/community.html">媒体报道</a></dd>
                </dl>
            </li>

        </ul>

        <div class="subscribe">
            <div class="qr-code">
            </div>
        </div>
        <div class="copyright">
            <div class="left">
                <p>
                    copyright © 2016 QINIU Community
                </p>
            </div>
        </div>
    </div>

</div>
