<div class="g-header">
    <div class="g-container">
        <a href="#TODO" class="logo"></a>
        <h2 class="title">招聘</h2>
        <ul class="nav">
            <li><a href="#TODO" class="nav-link">社会招聘</a></li>
            <li><a href="#TODO" class="nav-link">校园招聘</a></li>
            <li><a href="#TODO" class="nav-link">认识七牛</a></li>
            <li><a href="#TODO" class="nav-link">人在七牛</a></li>
        </ul>
        <div class="back">
            <a href="#TODO" class="back-homepage-btn"><span>返回官网</span></a>
        </div>
    </div>
</div>
