<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>认识七牛</title>
    <meta name="viewport" content="width=1440px,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/aboutus.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}
    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">我们是一家什么样的公司？</h2>
            <p class="banner-desc">七牛云是国内领先的企业级公有云服务器，致力于打造以数据为核心的场景化 PaaS 服务。围绕富媒体场景，七牛先后推出了对象存储，融合 CDN 加速，数据通用处理，内容反垃圾服务，以及直播云服务等。目前，七牛云已经在为 40 多万家企业提供服务，亲历互联网创新创业发展的同时，也深入理解传统企业转型过程中的云服务需求场景，推出了有针对性的一系列行业解决方案。</p>
        </div>
    </section>

    <section class="banner"></section>
    <section class="product-journey">
        <div class="product-journey-content">
            <div class="desc">
                <p>产品历程
                </p>
                <h2>我们自 2011 年成立以来一直保持着迅猛的发展势头</h2>
            </div>
            <div class="timeline">
                <div class="container-left">
                    <dl class="left">
                        <dt class="time">2011 年 08 月</dt>
                        <dd class="event">七牛云成立</dd>
                    </dl>
                    <dl class="left">
                        <dt class="time">2011 年 12 月</dt>
                        <dd class="event">面向开发者的公有云存储服务完成研发上线，并快速获得第一批大客户</dd>
                    </dl>
                    <dl class="left">
                        <dt class="time">2012 年</dt>
                        <dd class="event">成为国内首个采用 Go 语言进行大规模项目研发的团队，并用 Go 实现了分布式对象存储系统的核心服务</dd>
                    </dl>
                    <dl class="left">
                        <dt class="time">2014 年 07 月</dt>
                        <dd class="event">存储 2.0 上线，节省单位存储成本 62%</dd>
                    </dl>
                    <dl class="left">
                        <dt class="time">2014 年 12 月</dt>
                        <dd class="event">海外加速服务上线，覆盖了全球 31 个国家共 54 个地区</dd>
                    </dl>
                </div>

                <div class="container-right">
                    <dl class="right">
                        <dt class="time">2014 年</dt>
                        <dd class="event">将云服务的后端基于 Docker 进行微服务化，提出组件即服务 ＋ 场景化模式结构，为用户提供更定制化、更贴近用户实际应用需求的数据服务</dd>
                    </dl>
                    <dl class="right">
                        <dt class="time">2015 年 03 月</dt>
                        <dd class="event">推出系统健康状态实时监控让云服务在阳光下运行</dd>
                    </dl>
                    <dl class="right">
                        <dt class="time">2015 年 08 月</dt>
                        <dd class="event">基于容器技术的数据处理平台正式发布</dd>
                    </dl>
                    <dl class="right">
                        <dt class="time">2016 年 05 月</dt>
                        <dd class="event">移动时代的直播云服务上线</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <section class="capital-journey">
        <div class="capital-journey-content">
            <div class="desc">
                <p>资本历程
                </p>
                <h2>我们吸引了众多投资者的目光</h2>
            </div>
            <div class="timeline">
                <div class="container-left">
                    <div class="container-block">
                        <h2>A</h2>
                        <p>
                            轮
                        </p>

                        <dl>
                            <dt class="time">2012 年 02 月</dt>
                            <dd class="event">获得数百万元 A 轮融资，由经纬中国投资</dd>
                        </dl>
                    </div>
                    <div class="container-block">
                        <h2>C</h2>
                        <p>
                            轮
                        </p>
                        <dl>
                            <dt class="time">2014 年 08 月</dt>
                            <dd class="event">获得 C 轮数千万美元融资，由宽带资本领投，经纬中国和启明创投跟投</dd>
                        </dl>
                    </div>
                </div>
                <div class="container-right">
                    <div class="container-block">
                        <h2>B</h2>
                        <p>
                            轮
                        </p>
                        <dl>
                            <dt class="time">2013 年 01 月</dt>
                            <dd class="event">获得启明创投，经纬中国千万美元 B 轮投资</dd>
                        </dl>
                    </div>
                    <div class="container-block">
                        <h2>D</h2>
                        <p>
                            轮
                        </p>
                        <dl>
                            <dt class="time">2016 年 02 月</dt>
                            <dd class="event">完成 D 轮融资，企业用户达到 40 万＋，打造以数据为核心的场景化 PaaS 云服务</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wish">
        <div class="desc">
            <p>七牛愿景
            </p>
            <h2>建立诚信的、高效的、协作的、全球化的新商业文明。</h2>
        </div>
    </section>


    <section class="culture">
        <div class="culture-content">
            <div class="desc">
                <p>七牛文化
                </p>
                <h2>简单·可信赖</h2>
            </div>
            <ul class="culture-list">
                <li class="culture-item item-1">
                    <div class="culture-item-img"></div>
                    <h4 class="culture-item-title">图书馆文化</h4>
                    <p class="culture-item-desc">我们应坚持创业于图书馆这种做事风格，化繁为简，关注问题本质，从而持续创造出可信赖的产品和服务。我们坚决反对一切表面文章，拒绝办公室政治。</p>
                </li>
                <li class="culture-item item-2">
                    <div class="culture-item-img"></div>
                    <h4 class="culture-item-title">极客精神</h4>
                    <p class="culture-item-desc">极客精神不是技术团队的专有名词，应体现在工作中的方方面面。我们希望每一个团队都可以每时每刻努力思考，如何用优雅而创新的方式面对挑战。</p>
                </li>
                <li class="culture-item item-3">
                    <div class="culture-item-img"></div>
                    <h4 class="culture-item-title">微服务团队</h4>
                    <p class="culture-item-desc">我们是一个微服务公司，每个团队都需要明确目标客户和核心价值。日常工作应围绕客户为中心开展，并持续改进微服务能力和服务品质。</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="value-duty">
        <div class="value">
            <div class="desc">
                <p>七牛价值观
                </p>
                <h2>诚信&nbsp&nbsp价值&nbsp&nbsp协作&nbsp&nbsp奋斗&nbsp&nbsp创新</h2>
                <p class="content">
                    诚信：正直坦荡，信守承诺，言行一致
                    <br> 价值：为客户创造价值，结果导向
                    <br> 协作：共同承担，主人翁意识，成就他人
                    <br> 奋斗：挑战极限，以更高标准要求自己
                    <br> 创新：拥抱变化，反思并及时调整思路
                </p>
            </div>
        </div>
        <div class="duty">
            <div class="desc">
                <p>七牛使命
                </p>
                <h2>产品 ＝ 七牛云 . 服务（想法）</h2>
                <p class="content">
                    七牛，帮助客户缩短从产品想法到产品上线的距离。客户
                    <br>的好想法加上七牛云服务等于好产品。
                </p>
            </div>
        </div>
    </section>
    {{> ./partials/footer }}

</body>

</html>
