<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/campus.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}

    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">HELLO WORLD, CRAZY GO!</h2>
            <h2 class="title">极客视界，即刻出发！</h2>
            <h2 class="title-start">七牛 2017 校园招聘</h2>
        </div>
    </section>

    <section class="banner"></section>
    <section class="campus-jobs">
        <div class="campus-jobs-content">
            <h2>这些机会，期待你加入</h2>
            <p>我们是一个简单的团队，希望成就不简单的事。
                <br> 我们是一群充满热情，追求创新的人，期待遇见同样的你。
            </p>
            <a href="#">查看社招岗位</a>
            <ul class="job-list">
                <li class="job-item job-tech">
                    <div class="job-img"></div>
                    <p class="job-desc">技术</p>
                </li>
                <li class="job-item job-business">
                    <div class="job-img"></div>
                    <p class="job-desc">业务</p>
                </li>
                <li class="job-item job-product">
                    <div class="job-img"></div>
                    <p class="job-desc">产品</p>
                </li>
                <li class="job-item job-design">
                    <div class="job-img"></div>
                    <p class="job-desc">设计</p>
                </li>
                <li class="job-item job-marketing">
                    <div class="job-img"></div>
                    <p class="job-desc">运营</p>
                </li>
                <li class="job-item job-function">
                    <div class="job-img"></div>
                    <p class="job-desc">职能</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="campus-process">
        <h2 class="process-title">校招流程</h2>
        <!-- <ul class="process-list">
            <li class="process-item item-online">
                <div class="icon icon-online-test"></div>
                <h4 class="process-item-title">线上笔试</h4>
                <p class="process-item-desc">投递简历前需要先登陆网易通行证帐号，没有账号的同学请先注册。每人
                    <br>只能投递1个职位，请仔细阅读职位要求，根据自己的意愿进行投递。投递简历前
                    <br>需要先登陆网易通行证帐号，没有账号的同学请先注册。</p>
            </li>
            <li class="process-item item-interview">
                <div class="icon icon-interview"></div>
                <h4 class="process-item-title">面试</h4>
                <p class="process-item-desc">投递简历前需要先登陆网易通行证帐号，没有账号的同学请先注册。每人
                    <br>只能投递1个职位，请仔细阅读职位要求，根据自己的意愿进行投递。投递简历前
                    <br>需要先登陆网易通行证帐号，没有账号的同学请先注册。
                </p>
            </li>
            <li class="process-item item-capture">
                <div class="icon icon-offer"></div>
                <h4 class="process-item-title">录用通知</h4>
                <p class="process-item-desc">投递简历前需要先登陆网易通行证帐号，没有账号的同学请先注册。每人
                    <br>只能投递1个职位，请仔细阅读职位要求，根据自己的意愿进行投递。投递简历前
                    <br>需要先登陆网易通行证帐号，没有账号的同学请先注册。</p>
            </li>
            <span class="justify-fix"></span>
        </ul> -->
    </section>
    <section class="campus-journey">
        <div class="journey-map">

        </div>
        <div class="journey-desc">
            <div class="journey-desc-content">
                <h2>宣讲行程</h2>
                <p>
                    我们将会在上海、杭州、南京、合肥、北京、大连、哈尔滨、西安、成都、武汉、广州等城市进行校园宣讲会，具体时间待定，敬请期待。
                </p>
            </div>
        </div>
    </section>
    <section class="they-said">
        <div class="they-said-content">
            <div class="people-info">
                <div class="avatar">
                    <img src="../img/avatar/spon.jpg" alt="" />
                </div>
                <div class="name">
                    <h3>李彦宏</h3>
                </div>
                <div class="job-title">
                    <p>算法工程师</p>
                </div>

            </div>
            <div class="people-said">
                <p>
                    “由于提供的是技术类的产品，业务和技术的关系非常紧密，这也让我们的技术氛围比较好，是比较典型的工程师文化。我们喜欢思考问题的本质，尽量用简单的规则和办法去解决看似复杂的问题。这也是公司一直以来崇尚的文化，简单可信赖。”
                </p>
            </div>
            <div class="change-btn">
                <div class="left">

                </div>
                <div class="right">

                </div>
            </div>
        </div>
    </section>
    <section class="campus-start-title">
        <div class="campus-start-title-content">
            <h2>七牛 2017 校园招聘</h2>
            <p>
                Hello World, Crazy Go!
                <br>&nbsp;七牛，期待你的加入！
            </p>
        </div>
    </section>
    <section class="video-banner">
        <div class="video-content">

        </div>
        <div class="video-change-btn">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </section>
    {{> ./partials/footer }}

    {{> ./partials/statistics }}

</body>

</html>
