<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/campus.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}

    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">HELLO WORLD, CRAZY GO!</h2>
            <h2 class="title">极客视界，即刻出发！</h2>
            <h2 class="title-start">七牛 2017 校园招聘</h2>
        </div>
    </section>

    <section class="banner"></section>
    <section class="campus-jobs">
        <div class="campus-jobs-content">
            <h2>这些机会，期待你加入</h2>
            <p>我们是一个简单的团队，希望成就不简单的事。
                <br> 我们是一群充满热情，追求创新的人，期待遇见同样的你。
            </p>
            <a href="#">查看社招岗位</a>
            <ul class="job-list">
                <li class="job-item job-tech">
                    <div class="job-img"></div>
                    <p class="job-desc">技术</p>
                </li>
                <li class="job-item job-business">
                    <div class="job-img"></div>
                    <p class="job-desc">业务</p>
                </li>
                <li class="job-item job-product">
                    <div class="job-img"></div>
                    <p class="job-desc">产品</p>
                </li>
                <li class="job-item job-design">
                    <div class="job-img"></div>
                    <p class="job-desc">设计</p>
                </li>
                <li class="job-item job-marketing">
                    <div class="job-img"></div>
                    <p class="job-desc">运营</p>
                </li>
                <li class="job-item job-function">
                    <div class="job-img"></div>
                    <p class="job-desc">职能</p>
                </li>
            </ul>
        </div>
    </section>
    <span class="border-line"></span>
    <section class="campus-process" id="campus-process">
        <h2 class="process-title">校招流程</h2>
        <div class="process-container">
            <div class="nav-tab">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a v-link="{ path: '/advanced',activeClass: 'active'}">提前批内推</a>
                    </li>
                    <li class="tab-item">
                        <span></span>
                    </li>
                    <li class="tab-item">
                        <a v-link="{ path: '/unified',activeClass: 'active'}">统一校招</a>
                    </li>
                </ul>
            </div>
            <!--用于渲染匹配的组件 此处为 -->
            <router-view></router-view>
            <template id="unified">
                <ul class="process-list">
                    <li class="process-item">
                        <span class="time">8 月底 － 9 月底</span>
                        <span class="event">笔试报名</span>
                        <p class="desc">此次校招不提前收简历，请点击链接报名笔试完成申请。
                            <br>我们会向所有报名的学生发送笔试通知，并邀请通过的学生投递简历。
                        </p>
                    </li>
                    <li class="process-item">
                        <span class="time">9 月底 － 10 月初</span>
                        <span class="event">线上笔试</span>
                        <p class="desc">线上笔试将分为３个岗位，2 个批次。
                            <br>请同学们根据自身时间安排，挑选相应的场次参加。
                        </p>
                    </li>
                    <li class="process-item">
                        <span class="time">10 月初 － 10 月中</span>
                        <span class="event">面试</span>
                        <p class="desc">我们将根据意向工作地及目前所在城市，协调安排面试形式及地点。
                            <br>外地学生会尽量安排远程面试，请随时保持手机畅通。
                        </p>
                    </li>
                    <li class="process-item">
                        <span class="time">10 月底 － 11 月初</span>
                        <span class="event">发放 Offer</span>
                        <p class="desc">我们会给面试通过的同学发放 Offer。</p>
                    </li>
                </ul>
            </template>
            <template id="advanced">
                <ul class="process-list">
                    <li class="process-item">
                        <span class="time">8月10日~9月10日</span>
                        <span class="event">简历内推</span>
                        <p class="desc">七牛员工和校园大使很乐意帮你提前拿到校招 offer。
                            <br>若内推不通过，不会影响正式校招，依然可参加线上笔试。
                        </p>
                    </li>
                    <li class="process-item">
                        <span class="time">8月22日~9月23日</span>
                        <span class="event">面试</span>
                        <p class="desc"> 内推简历无需参加笔试，若简历筛选通过将收到面试邀请。
                            <br>外地学生会安排远程面试，请随时保持手机畅通。
                        </p>
                    </li>
                    <li class="process-item">
                        <span class="time">９月底～10月初</span>
                        <span class="event">提前 offer</span>
                        <p class="desc">我们会在正式笔试开始前发出部分 offer，希望提前认识你。
                        </p>
                    </li>
                </ul>
            </template>

        </div>

    </section>
    <section class="campus-journey">
        <div class="journey-map">

        </div>
        <div class="journey-desc">
            <div class="journey-desc-content">
                <h2>宣讲行程</h2>
                <p>
                    我们将会在上海、杭州、南京、合肥、北京、武汉等城市进行校园宣讲会，具体时间待定，敬请期待。
                </p>
            </div>
        </div>
    </section>
    <section class="they-said">
        <div class="they-said-content">
            <div class="people-info">
                <div class="avatar">
                    <img src="../img/avatar/mayiqing.jpg" alt="mayiqing" />
                </div>
                <div class="name">
                    <h3>李彦宏</h3>
                </div>
                <div class="job-title">
                    <p>算法工程师</p>
                </div>

            </div>
            <div class="people-said">
                <p>
                    “由于提供的是技术类的产品，业务和技术的关系非常紧密，这也让我们的技术氛围比较好，是比较典型的工程师文化。我们喜欢思考问题的本质，尽量用简单的规则和办法去解决看似复杂的问题。这也是公司一直以来崇尚的文化，简单可信赖。”
                </p>
            </div>
            <div class="change-btn">
                <div class="left">

                </div>
                <div class="right">

                </div>
            </div>
        </div>
    </section>
    <span class="border-line"></span>
    <section class="campus-start-title">
        <div class="campus-start-title-content">
            <h2>七牛 2017 校园招聘</h2>
            <p>
                Hello World, Crazy Go!
                <br>&nbsp;七牛，期待你的加入！
            </p>
        </div>
    </section>
    <section class="video-banner">
        <div class="video-content">

        </div>
        <div class="video-change-btn">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </section>
    {{> ./partials/footer }}
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script>
        // 统一校招组件
        var Unified = Vue.extend({
            template: '#unified',
            data: function() {
                return {
                    msg: '统一校招组件',
                    currentPath: ''
                }
            },
            route: {
                data: function(transition) {
                    transition.next({
                        currentPath: transition.to.path
                    })
                }
            }
        })

        /* 提前批组件*/
        var Advanced = Vue.extend({
                template: '#advanced'
            })
            /* 创建路由器  */
        var router = new VueRouter()
            // 默认路由
        router.redirect({
                '/': '/advanced'
            })
            /* 创建路由映射  */
        router.map({
                '/advanced': {
                    component: Advanced,
                    // 定义子路由
                },
                '/unified': {
                    component: Unified
                }
            })
            /* 启动路由  */
        var CampusProcessTab = Vue.extend({})
        router.start(CampusProcessTab, '#campus-process')
    </script>
</body>

</html>
