<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}

    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">HELLO WORLD, CRAZY GO!</h2>
            <h2 class="title">极客视界，即刻出发！</h2>
            <h2 class="title-start">七牛 2017 校园招聘</h2>
        </div>
    </section>
    <section class="banner">
        <div class="guide">
            <a class="guide-content" href="#TODO">
                <div class="post-text">
                    <p>
                        2016
                        <br>校园招聘
                    </p>
                </div>
                <div class="arrow">

                </div>
            </a>
        </div>
    </section>
    <section class="slogan">
        <div class="slogan-content">
            <h2>七牛，缩短想法到产品的距离</h2>
            <p>
                七牛人一直在全力打造高效稳定的云服务平台，并基于此提供了一站式数据管理服务，能有效地帮助开发者提高开发效率、优化产品体验和降低业务风险，使客户缩短了产品从个想法到上线的距离。
            </p>
        </div>
    </section>
    <section class="video-banner">
        <div class="video-content">

        </div>
        <div class="video-change-btn">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </section>
    {{> ./partials/footer }}

    <script src="./js/jquery.min.js"></script>
    <script src="./js/index.js"></script>

    {{> ./partials/statistics }}

</body>

</html>
