<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}

    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">HELLO WORLD, CRAZY GO!</h2>
            <h2 class="title">极客视界，即刻出发！</h2>
            <h2 class="title-start">七牛 2017 校园招聘</h2>
        </div>
    </section>
    <section class="banner">
      <section class="guide">
        <div class="guide-content">

        </div>
      </section>
    </section>
    {{> ./partials/footer }}

    <script src="./js/jquery.min.js"></script>
    <script src="./js/index.js"></script>

    {{> ./partials/statistics }}

</body>

</html>
