<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/social-index.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}

    <section class="title-banner">
        <div class="banner-content">
            <h2 class="banner-title">
            你的明天，七牛的未来。<br>加入我们，与聪明人为伍，与牛人共事,<br>你的未来注定不同凡响。</h2>
        </div>
    </section>
    <section class="banner">
        <div class="guide">
            <a class="guide-content" href="#TODO">
                <div class="post-text">
                    <p>查看职位</p>
                </div>
                <div class="arrow">

                </div>
            </a>
        </div>
    </section>
    <section class="campus-jobs">
        <div class="campus-jobs-content">
            <h2>这些机会，期待你加入</h2>
            <p>我们是一个简单的团队，希望成就不简单的事。
                <br> 我们是一群充满热情，追求创新的人，期待遇见同样的你。
            </p>
            <a href="#">查看社招岗位</a>
            <ul class="job-list">
                <li class="job-item job-tech">
                    <div class="job-img"></div>
                    <p class="job-desc">技术</p>
                </li>
                <li class="job-item job-business">
                    <div class="job-img"></div>
                    <p class="job-desc">业务</p>
                </li>
                <li class="job-item job-product">
                    <div class="job-img"></div>
                    <p class="job-desc">产品</p>
                </li>
                <li class="job-item job-design">
                    <div class="job-img"></div>
                    <p class="job-desc">设计</p>
                </li>
                <li class="job-item job-marketing">
                    <div class="job-img"></div>
                    <p class="job-desc">运营</p>
                </li>
                <li class="job-item job-function">
                    <div class="job-img"></div>
                    <p class="job-desc">职能</p>
                </li>
            </ul>
        </div>
    </section>

    {{> ./partials/footer }}

</body>

</html>
