<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社会招聘</title>
    <meta name="viewport" content="width=1440">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="七牛招聘,七牛校园招聘,七牛云招聘,七牛云校园招聘,七牛社会招聘,七牛云社会招聘,七牛岗位,七牛云岗位,加入七牛,加入七牛云">
    <meta name="description" content="你的明天，七牛的未来。加入我们，与聪明人为伍，与牛人共事，你的未来注定不同凡响">
    <meta name="author" content="七牛云">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/social-index.css">
    <link rel="stylesheet" href="./css/campus-compon.css">
</head>

<body class="recruiting">

    <div class="g-header">
        <div class="g-container">
            <a href="index.html" class="logo"></a>
            <div class="title"><a href="index.html">七牛招聘</a></div>
            <ul class="nav">
                <li><a href="social.html" class="nav-link">社会招聘</a></li>
                <li><a href="campus.html" class="nav-link">校园招聘</a></li>
                <li><a href="aboutus.html" class="nav-link">认识七牛</a></li>
                <li><a href="workhere.html" class="nav-link">人在七牛</a></li>
            </ul>
            <div class="back">
                <a href="http://www.qiniu.com/" class="back-homepage-btn"><span>返回官网</span></a>
            </div>
        </div>
    </div>


    <div id="socialJobView">
        <section class="title-banner">
            <div class="banner-content">
                <h2 class="banner-title">你的明天，七牛的未来。<br>加入我们，与聪明人为伍，与牛人共事，你的未来注定不同凡响。</h2>
            </div>
        </section>
        <section class="banner">
            <div class="guide">
                <a class="guide-content" href="">
                    <div class="post-text">
                        <p>查看职位</p>
                    </div>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </section>
        <router-view></router-view>
    </div>
    <div class="g-footer">
        <div class="g-container">
            <div class="sns">
                <div class="icons-logo">
                    <a href="http://qiniu.com" class="f-icon-logo"></a>
                </div>
                <ul>
                    <li>
                        <a class="github" href="https://github.com/qiniu" target="_blank"></a>
                    </li>
                    <li>
                        <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
                    </li>
                    <li class="li-qrcode">
                        <a class="wechat" href="#"></a>
                        <div class="qrcode">
                            <span><img src="./img/footer/qrcode.png" width="120" height="120"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="webmap">
                <ul id="menu-qn-footer" class="menu">
                    <li><a>产品与服务</a>
                        <ul class="sub-menu">
                            <li><a href="http://qiniu.com/products/kodo">对象存储</a></li>
                            <li><a href="http://qiniu.com/products/fusion">融合 CDN</a></li>
                            <li><a href="http://qiniu.com/products/pili">直播云</a></li>
                            <li><a href="http://qiniu.com/products/dora">数据处理</a></li>
                            <li><a href="http://qiniu.com/pricing">价格</a></li>
                        </ul>
                    </li>
                    <li><a>支持</a>
                        <ul class="sub-menu">
                            <li><a href="http://developer.qiniu.com/">开发者中心</a></li>
                            <li><a href="https://segmentfault.com/qiniu">问答社区</a></li>
                            <li><a href="http://blog.qiniu.com/">技术博客</a></li>
                            <li><a href="http://hd.qiniu.com/arch">架构师实践日</a></li>
                            <li><a href="https://support.qiniu.com/">工单</a></li>
                        </ul>
                    </li>
                    <li><a>生态与合作</a>
                        <ul class="sub-menu">
                            <li><a href="http://hd.qiniu.com/eco">牛扶持</a></li>
                            <li><a href="http://www.qiniu.com/cooperation">牛生态</a></li>
                            <li><a href="http://qiniu.com/development-cooperation">开发合作</a></li>
                            <li><a href="http://qiniu.com/channel">渠道合作</a></li>
                            <li><a href="http://qiniu.com/links">友情链接</a></li>
                        </ul>
                    </li>
                    <li><a>公司</a>
                        <ul class="sub-menu">
                            <li><a href="http://career.qiniu.com/aboutus.html">关于我们</a></li>
                            <li><a target="_blank" href="http://career.qiniu.com/">加入我们</a></li>
                            <li><a href="http://qiniu.com/contact">联系我们</a></li>
                            <li><a href="http://qiniu.com/report">媒体报道</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-legal">
                <div class="copyright">Copyright © 2016 <a href="http://qiniu.com">七牛云</a> Inc.</div>
                <ul class="footer-legal-links">
                    <li><a href="http://qiniu.com/user-agreement">用户协议</a></li>
                    <li><a href="http://qiniu.com/service-agreement">SLA 协议</a></li>
                    <li><a href="https://status.qiniu.com/">健康状态</a></li>
                </ul>
                <div class="cloud-verify">
                    <a target="_blank" rel="noopener" href="http://www.dca.org.cn/" class="verify-logo"></a>
                </div>
            </div>
            <div class="web-record"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000961" target="_blank">沪公网安备 31011502000961 号</a><a href="http://www.miitbeian.gov.cn/" target="_blank">沪 ICP 备 11037377 号-5</a></div>
        </div>

    </div>


    <template id="index">
        <section class="campus-jobs">
            <div class="campus-jobs-content">
                <h2>这些机会，期待你加入</h2>
                <p>我们是一个简单的团队，希望成就不简单的事。
                    <br> 我们是一群充满热情，追求创新的人，期待遇见同样的你。
                </p>
                <a href="#!/social/tech">查看社招岗位</a>
                <ul class="job-list">
                    <li v-link="{ path: '/social/tech'}"  class="job-item job-tech">
                        <div class="job-img"></div>
                        <p class="job-desc">技术</p>
                    </li>
                    <li v-link="{ path: '/social/business'}"  class="job-item job-business">
                        <div class="job-img"></div>
                        <p class="job-desc">市场</p>
                    </li>
                    <li v-link="{ path: '/social/product'}"  class="job-item job-product">
                        <div class="job-img"></div>
                        <p class="job-desc">产品</p>
                    </li>
                    <li v-link="{ path: '/social/design'}"  class="job-item job-design">
                        <div class="job-img"></div>
                        <p class="job-desc">设计</p>
                    </li>
                    <li v-link="{ path: '/social/marketing'}"  class="job-item job-marketing">
                        <div class="job-img"></div>
                        <p class="job-desc">销售</p>
                    </li>
                    <li v-link="{ path: '/social/function'}"  class="job-item job-function">
                        <div class="job-img"></div>
                        <p class="job-desc">职能</p>
                    </li>
                </ul>
            </div>
        </section>
    </template>

    <template id="social">
        <div class="job-wrap">
            <div class="campus-job-list">
                <ul class="nav nav-tabs">
                    <li  :class="currentPath == '/social/tech' ? 'active': ''">
                        <a v-link="{ path: '/social/tech'}">技术</a>
                    </li>

                    <li  :class="currentPath == '/social/business' ? 'active': ''">
                        <a v-link="{ path: '/social/business'}">市场</a>
                    </li>

                    <li :class="currentPath == '/social/product' ? 'active': ''">
                        <a v-link="{ path: '/social/product'}">产品</a>
                    </li>

                    <li  :class="currentPath == '/social/design' ? 'active': ''">
                        <a v-link="{ path: '/social/design'}">设计</a>
                    </li>

                    <li  :class="currentPath == '/social/marketing' ? 'active': ''">
                        <a v-link="{ path: '/social/marketing'}">销售</a>
                    </li>

                    <li  :class="currentPath == '/social/function' ? 'active': ''">
                        <a v-link="{ path: '/social/function'}">职能</a>
                    </li>

                    <div style="display:none" class="dropdown">
                        <span class="dropbtn">全部地点</span>
                        <span class="arrow"></span>
                        <div class="dropdown-content">
                            <a href="#1">北京</a>
                            <a href="#2">上海</a>
                            <a href="#3">杭州</a>
                            <a href="#4">广州</a>
                            <a href="#4">深圳</a>
                        </div>

                    </div>
                </ul>
                <span class="border-line"></span>
            </div>
            <div class="job-list-detail">
                <router-view></router-view>
            </div>
        </div>
    </template>

    <!-- 职位列表模板 -->
    <template id="tech">
      <div v-if="tech.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>技术类</h2>
          <h3>开放职位</h3>
      </div>
        <div class="list-items">
            <dl v-link="{ name: 'techdetail', params: {id: $index,cate:item.job_title} }" v-for="item in tech" class="list-onejob campusJob">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="business">
      <div v-if="business.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>市场类</h2>
          <h3>开放职位</h3>
      </div>

        <div class="list-items">
            <dl v-link="{ name: 'businessdetail', params: {id: $index,cate:item.job_title} }" v-for="item in business" class="list-onejob campusJob">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>

    <template id="product">
      <div v-if="product.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>产品类</h2>
          <h3>开放职位</h3>
      </div>

        <div class="list-items">
            <dl v-link="{ name: 'productdetail', params: {id: $index,cate:item.job_title} }" v-for="item in product" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="design">
      <div v-if="design.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>设计类</h2>
          <h3>开放职位</h3>
      </div>

        <div class="list-items">
            <dl v-link="{ name: 'designdetail', params: {id: $index,cate:item.job_title} }" v-for="item in design" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="marketing">
      <div v-if="marketing.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>销售类</h2>
          <h3>开放职位</h3>
      </div>

        <div class="list-items">
            <dl v-link="{ name: 'marketingdetail', params: {id: $index,cate:item.job_title} }" v-for="item in marketing" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="jobfunction">
      <div v-if="jobfunction.length == 0" class="job-not-open">
          <h2>暂无开放职位</h2>
      </div>
      <div v-else class="job-title-content">
          <h2>职能类</h2>
          <h3>开放职位</h3>
      </div>
        <div class="list-items">
            <dl v-link="{ name: 'jobfunctiondetail', params: {id: $index,cate:item.job_title} }" v-for="item in jobfunction" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>

    <template id="social">
        <div>
            <h1>社会招聘</h1>
            <p>This is the tutorial about vue-router.</p>
        </div>
    </template>

    <!-- 技术职位详情 -->
    <template id="techjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/tech">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>

    <!-- 市场类职位详情描述 -->
    <template id="businessjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/business">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>


    <!-- 产品职位详情描述 -->
    <template id="productjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/product">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>


    <!-- 设计职位详情描述 -->
    <template id="designjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/design">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>


    <!-- 销售职位详情描述 -->
    <template id="marketingjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/marketing">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>




    <!-- 职能职位详情描述 -->
    <template id="functionjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/function">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <div class="job-pro-content">
                    <h2 class="job-duty">简历投递邮箱</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </template>




    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/social-compon.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/social.js"></script>
    <script type="text/javascript">
        // add event listener on load
        window.addEventListener('load', function() {
            // scroll into view
            document.querySelector('.guide-content').addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelector('.campus-jobs-content').scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    <script src="js/analytic.js"></script>
</body>

</html>
