<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社会招聘</title>
    <meta name="viewport" content="width=1440px,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/social-index.css">
    <link rel="stylesheet" href="./css/campus-compon.css">
</head>

<body class="recruiting">

    <div class="g-header">
        <div class="g-container">
            <a href="index.html" class="logo"></a>
            <h2 class="title">招聘</h2>
            <ul class="nav">
                <li><a href="social.html" class="nav-link">社会招聘</a></li>
                <li><a href="campus.html" class="nav-link">校园招聘</a></li>
                <li><a href="aboutus.html" class="nav-link">认识七牛</a></li>
                <li><a href="workhere.html" class="nav-link">人在七牛</a></li>
            </ul>
            <div class="back">
                <a href="http://www.qiniu.com/" class="back-homepage-btn"><span>返回官网</span></a>
            </div>
        </div>
    </div>


    <div id="socialJobView">
        <section class="title-banner">
            <div class="banner-content">
                <h2 class="banner-title">你的明天，七牛的未来。<br>加入我们，与聪明人为伍，与牛人共事，你的未来注定不同凡响</h2>
            </div>
        </section>
        <section class="banner">
            <div class="guide">
                <a class="guide-content" href="">
                    <div class="post-text">
                        <p>查看职位</p>
                    </div>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </section>
        <router-view></router-view>
    </div>
    <div class="g-footer">
        <div class="g-container">
            <div class="icons-logo">
                <a href="#TODO" class="f-icon-logo"></a>
            </div>
            <ul class="webmap">
                <li>
                    <dl>
                        <!-- <dt>招聘</dt> -->
                        <dd><a href="social.html">社会招聘</a></dd>
                        <dd><a href="campus.html">校园招聘</a></dd>
                        <dd><a href="aboutus.html">认识七牛</a></dd>
                        <dd><a href="workhere.html">人在七牛</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <!-- <dt>官网</dt> -->
                        <dd><a href="http://www.qiniu.com/">七牛官网</a></dd>
                        <dd><a href="http://blog.qiniu.com/">官方博客</a></dd>
                        <dd><a href="http://developer.qiniu.com/resource/community.html">媒体报道</a></dd>
                    </dl>
                </li>

            </ul>

            <div class="subscribe">
                <div class="qr-code">
                </div>
            </div>
            <div class="copyright">
                <div class="left">
                    <p>
                        copyright © 2016 QINIU Community
                    </p>
                </div>
            </div>
        </div>

    </div>


    <template id="index">
        <section class="campus-jobs">
            <div class="campus-jobs-content">
                <h2>这些机会，期待你加入</h2>
                <p>我们是一个简单的团队，希望成就不简单的事。
                    <br> 我们是一群充满热情，追求创新的人，期待遇见同样的你。
                </p>
                <a href="#!/social/tech">查看社招岗位</a>
                <ul class="job-list">
                    <li v-link="{ path: '/social/tech'}" class="job-item job-tech">
                        <div class="job-img"></div>
                        <p class="job-desc">技术</p>
                    </li>
                    <li v-link="{ path: '/social/business'}" class="job-item job-business">
                        <div class="job-img"></div>
                        <p class="job-desc">市场</p>
                    </li>
                    <li v-link="{ path: '/social/product'}" class="job-item job-product">
                        <div class="job-img"></div>
                        <p class="job-desc">产品</p>
                    </li>
                    <li v-link="{ path: '/social/design'}" class="job-item job-design">
                        <div class="job-img"></div>
                        <p class="job-desc">设计</p>
                    </li>
                    <li v-link="{ path: '/social/marketing'}" class="job-item job-marketing">
                        <div class="job-img"></div>
                        <p class="job-desc">销售</p>
                    </li>
                    <li v-link="{ path: '/social/function'}" class="job-item job-function">
                        <div class="job-img"></div>
                        <p class="job-desc">职能</p>
                    </li>
                </ul>
            </div>
        </section>
    </template>

    <template id="social">
        <div class="job-wrap">
            <div class="campus-job-list">
                <ul class="nav nav-tabs">
                    <li v-if="jobInfo.tech.length" :class="currentPath == '/social/tech' ? 'active': ''">
                        <a v-link="{ path: '/social/tech'}">技术</a>
                    </li>

                    <li v-if="jobInfo.business.length" :class="currentPath == '/social/business' ? 'active': ''">
                        <a v-link="{ path: '/social/business'}">市场</a>
                    </li>

                    <li v-if="jobInfo.product.length" :class="currentPath == '/social/product' ? 'active': ''">
                        <a v-link="{ path: '/social/product'}">产品</a>
                    </li>

                    <li v-if="jobInfo.design.length" :class="currentPath == '/social/design' ? 'active': ''">
                        <a v-link="{ path: '/social/design'}">设计</a>
                    </li>

                    <li v-if="jobInfo.marketing.length" :class="currentPath == '/social/marketing' ? 'active': ''">
                        <a v-link="{ path: '/social/marketing'}">销售</a>
                    </li>

                    <li v-if="jobInfo.function.length" :class="currentPath == '/social/function' ? 'active': ''">
                        <a v-link="{ path: '/social/function'}">职能</a>
                    </li>

                    <div class="dropdown">
                        <span class="dropbtn">全部地点</span>
                        <span class="arrow"></span>
                        <div class="dropdown-content">
                            <a href="#1">北京</a>
                            <a href="#2">上海</a>
                            <a href="#3">杭州</a>
                            <a href="#4">广州</a>
                            <a href="#4">深圳</a>
                        </div>

                    </div>
                </ul>

            </div>
            <div class="job-list-detail">
                <router-view></router-view>
            </div>
        </div>
    </template>

    <!-- 职位列表模板 -->
    <template id="tech">
        <div class="job-title-content">
            <h2>技术类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'techdetail', params: {id: item.id,cate:item.job_title} }" v-for="item in tech" class="list-onejob campusJob">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="business">
        <div class="job-title-content">
            <h2>市场类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'businessdetail', params: {id: item.id,cate:item.job_title} }" v-for="item in business" class="list-onejob campusJob">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>

    <template id="product">
        <div class="job-title-content">
            <h2>产品类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'productdetail', params: {id: item.id,cate:item.job_title} }" v-for="item in product" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="design">
        <div class="job-title-content">
            <h2>设计类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'designdetail', params: {id: item.id,cate:item.job_title} }" v-for="item in design" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="marketing">
        <div class="job-title-content">
            <h2>销售类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'marketingdetail', params: {id: item.id,cate:item.job_title} }" v-for="item in marketing" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>


    <template id="jobfunction">
        <div class="job-title-content">
            <h2>职能类</h2>
            <h3>开放职位</h3>
        </div>
        <div class="list-items">
            <dl v-link="{ name: 'jobfunctiondetail', params: {id: item.id,cate:item.job_title} }" v-for="item in jobfunction" class="list-onejob campusJob" data-id="6518">
                <dt>{{ item.job_title }}</dt>
                <dd class="place">{{ item.place }}</dd>
                <dd class="pubdate">发布日期：{{ item.time }}</dd>
            </dl>
        </div>
    </template>

    <template id="social">
        <div>
            <h1>社会招聘</h1>
            <p>This is the tutorial about vue-router.</p>
        </div>
    </template>

    <!-- 技术职位详情 -->
    <template id="techjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/tech">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>

    <!-- 市场类职位详情描述 -->
    <template id="businessjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/business">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>


    <!-- 产品职位详情描述 -->
    <template id="productjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/product">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>


    <!-- 设计职位详情描述 -->
    <template id="designjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/design">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>


    <!-- 销售职位详情描述 -->
    <template id="marketingjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/marketing">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>




    <!-- 职能职位详情描述 -->
    <template id="functionjobDetail">
        <div class="job-detail">
            <div class="back-to-list">
                <span></span>
                <a href="#!/social/function">返回职位列表</a>
            </div>

            <div class="campus-job-desc">
                <div class="campus-job-desc-content">
                    <h3 class="job-title">{{jobInfo[$route.params.id].job_title}}</h3>
                    <p class="job-place">工作地点:&nbsp&nbsp{{jobInfo[$route.params.id].place}}</p>
                    <p class="pub-date">职位发布于:&nbsp&nbsp{{jobInfo[$route.params.id].time}}</p>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div>
                <div class="job-duty-content">
                    <h2 class="job-duty">岗位职责</h2>
                    <ul class="duty-list">
                        <li v-for="duty in jobInfo[$route.params.id].duty">{{duty}}</li>
                    </ul>
                </div>
                <div class="job-req-content">
                    <h2 class="job-duty">任职要求</h2>
                    <ul class="req-list">
                        <li v-for="req in jobInfo[$route.params.id].requirements">{{req}}</li>
                    </ul>
                </div>
                <!-- <div class="job-pro-content">
                    <h2 class="job-duty">加分项</h2>
                    <ul class="pro-list">
                        <li v-for="pro in jobInfo[$route.params.id].pro">{{pro}}</li>
                    </ul>
                    <div class="apply-btn"><a href="mailto:hr@qiniu.com">立即申请</a></div>
                </div> -->
            </div>
        </div>
    </template>




    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/social-compon.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script type="text/javascript">
        /*首页组件*/
        var Index = Vue.extend({
                template: '#index'
            })
            /////////////////////////////////////////////////////////////////////////////////////////////////
            //社招组件
        var Social = Vue.extend({
            template: '#social',
            data: function() {
                return {
                    msg: '社招组件',
                    currentPath: '',
                    jobInfo: jobInfo
                }
            },
            route: {
                data: function(transition) {
                    transition.next({
                        currentPath: transition.to.path
                    })


                }
            }
        })


        //技术 tab 招聘标签
        var Tech = Vue.extend({
            template: '#tech',
            data: function() {
                return {
                    msg: '技术组件',
                    currentPath: '',
                    tech: jobInfo.tech,

                }
            }
        })

        var Business = Vue.extend({
            template: '#business',
            data: function() {
                return {
                    msg: '市场组件',
                    currentPath: '',
                    business: jobInfo.business
                }
            }
        })

        var Product = Vue.extend({
            template: '#product',
            data: function() {
                return {
                    msg: '产品组件',
                    currentPath: '',
                    product: jobInfo.product
                }
            }
        })

        var Design = Vue.extend({
            template: '#design',
            data: function() {
                return {
                    msg: '设计组件',
                    currentPath: '',
                    design: jobInfo.design
                }
            }
        })

        var Marketing = Vue.extend({
            template: '#marketing',
            data: function() {
                return {
                    msg: '销售组件',
                    currentPath: '',
                    marketing: jobInfo.marketing
                }
            }
        })

        var Jobfunction = Vue.extend({
            template: '#jobfunction',
            data: function() {
                return {
                    msg: '市场组件',
                    currentPath: '',
                    jobfunction: jobInfo.function
                }
            }
        })


        /*详情组件*/
        //tech JD 详情
        var techJobDetail = Vue.extend({
            template: '#techjobDetail',
            data: function() {
                return {
                    msg: 'tech 职位数据',
                    currentPath: '',
                    jobInfo: jobInfo.tech
                }
            }
        })

        //business JD 详情
        var businessJobDetail = Vue.extend({
            template: '#businessjobDetail',
            data: function() {
                return {
                    msg: 'business 职位数据',
                    jobInfo: jobInfo.business
                }
            }
        })


        //product JD 详情
        var productJobDetail = Vue.extend({
            template: '#productjobDetail',
            data: function() {
                return {
                    msg: 'business 职位数据',
                    jobInfo: jobInfo.product
                }
            }
        })


        //design JD 详情
        var designJobDetail = Vue.extend({
            template: '#designjobDetail',
            data: function() {
                return {
                    msg: 'design 职位数据',
                    jobInfo: jobInfo.design
                }
            }
        })

        //marketing JD 详情
        var marketingJobDetail = Vue.extend({
            template: '#marketingjobDetail',
            data: function() {
                return {
                    msg: 'marketing 职位数据',
                    jobInfo: jobInfo.marketing
                }
            }
        })

        //marketing JD 详情
        var functionJobDetail = Vue.extend({
            template: '#functionjobDetail',
            data: function() {
                return {
                    msg: 'function 职位数据',
                    jobInfo: jobInfo.function
                }
            }
        })



        /* 创建路由器  */
        var router = new VueRouter()
            // 默认路由
        router.redirect({
                '/': '/index',
                '/social': '/social/tech'
            })
            /* 创建路由映射  */
        router.map({
                '/index': {
                    component: Index
                },
                '/social': {
                    component: Social,
                    // 定义子路由
                    subRoutes: {
                        '/tech': {
                            name: 'tech',
                            component: Tech
                        },

                        'techdetail/:id': {
                            name: 'techdetail',
                            component: techJobDetail
                        },
                        '/business': {
                            name: 'business',
                            component: Business
                        },
                        'businessdetail/:id': {
                            name: 'businessdetail',
                            component: businessJobDetail
                        },
                        '/product': {
                            name: 'product',
                            component: Product
                        },
                        'productdetail/:id': {
                            name: 'productdetail',
                            component: productJobDetail
                        },
                        '/design': {
                            name: 'design',
                            component: Design
                        },
                        'designdetail/:id': {
                            name: 'designdetail',
                            component: designJobDetail
                        },
                        '/marketing': {
                            name: 'marketing',
                            component: Marketing
                        },
                        'marketingdetail/:id': {
                            name: 'marketingdetail',
                            component: marketingJobDetail
                        },
                        '/function': {
                            name: 'jobfunction',
                            component: Jobfunction
                        },
                        'functiondetail/:id': {
                            name: 'jobfunctiondetail',
                            component: functionJobDetail
                        },
                    }
                }
            })
            /* 启动路由  */
        var SocialProcessTab = Vue.extend({})
        router.start(SocialProcessTab, '#socialJobView')
    </script>

    <script type="text/javascript">
        // add event listener on load
        window.addEventListener('load', function() {
            // scroll into view
            document.querySelector('.guide-content').addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelector('.campus-jobs-content').scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>

</html>
