<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>人在七牛</title>
    <meta name="viewport" content="width=1440">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="七牛招聘,七牛校园招聘,七牛云招聘,七牛云校园招聘,七牛社会招聘,七牛云社会招聘,七牛岗位,七牛云岗位,加入七牛,加入七牛云">
    <meta name="description" content="你的明天，七牛的未来。加入我们，与聪明人为伍，与牛人共事，你的未来注定不同凡响">
    <meta name="author" content="七牛云">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/workhere.css">
</head>

<body class="recruiting">

    <div class="g-header">
        <div class="g-container">
            <a href="index.html" class="logo"></a>
            <div class="title"><a href="index.html">七牛招聘</a></div>
            <ul class="nav">
                <li><a href="social.html" class="nav-link">社会招聘</a></li>
                <li><a href="campus.html" class="nav-link">校园招聘</a></li>
                <li><a href="aboutus.html" class="nav-link">认识七牛</a></li>
                <li><a href="workhere.html" class="nav-link">人在七牛</a></li>
            </ul>
            <div class="back">
                <a href="http://www.qiniu.com/" class="back-homepage-btn"><span>返回官网</span></a>
            </div>
        </div>
    </div>

    <section class="pic-slide" id="app">

        <div class="bg">

        </div>

        <slider></slider>


    </section>
    <template id="slider">

        <div class="slide-container" v-bind:class="startClick == true ? 'sliderContainerClass': ''">
            <div class="slide-wrap" v-bind:class="startClick == true ? 'sliderClass': ''">
                <ul class="clearfix slide-animate" v-bind:style='getClass'>
                    <li v-for="item in imgData" v-bind:current="current">
                        <a href="{{item.href}}">
                            <img v-bind:src="item.imgsrc" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pic-change-btn">
                <div v-on:click="turnToPrev" class="left" v-bind:class="first_pic == true ? 'opacityClass': ''">
                </div>
                <div v-on:click="turnToNext" class="right" v-bind:class="last_pic == true ? 'opacityClass': ''">
                </div>
            </div>

        </div>
    </template>
    <section class="learn-develop">
        <div class="learn-content">
            <div class="desc">
                <p>学习发展
                </p>
                <h2>我们针对新入职的员工制定了一套完善的培训体系</h2>
            </div>
            <ul class="feature-list">
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">入职指南</h4>
                    <p class="feature-item-desc">
                        我们希望帮助刚刚加入七牛的你在最短时间内适应环境，并且融入这个大家庭、专注成长从而找到未来。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">产品培训</h4>
                    <p class="feature-item-desc">
                        作为一支以打造为服务团队为理念的队伍，我们从不停止用产品的思维与视角来看待技术、用户与这个世界。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">Buddy Program</h4>
                    <p class="feature-item-desc">
                        你的 Buddy 将在最开始的日子里 1:1 地帮助你了解公司、环境、人员、产品与其他相关的业务技能。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">软技能进阶</h4>
                    <p class="feature-item-desc">
                        沟通与团队协作、领导力进阶、大脑与思维的开发……多元、定制的软技能进阶课程将帮助你全方位成长。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">轮岗计划</h4>
                    <p class="feature-item-desc">
                        通过在不同部门内与不同岗位上的轮岗，将帮助你更全面深入地了解产品与业务信息，在实战中全方位飞速成长。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">项目实操</h4>
                    <p class="feature-item-desc">
                        10% 的知识 + 20% 的技能 +70% 的实战 = 战斗力爆表的你，你将作为项目推进中重要的力量之一，在成长中凸现价值。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">大咖分享会</h4>
                    <p class="feature-item-desc">
                        业界大咖，内部大牛，各路奇才的精彩分享，涉及了前沿技术、行业资讯、工具技能，乃至生活爱好中的高能指南。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">素拓与团建</h4>
                    <p class="feature-item-desc">
                        七牛人爱玩，也会玩，更重要的是和一群靠谱的真战友玩，每一次素拓与团建，都是重新认识伙伴、也发掘自我的一场历程。
                    </p>
                </li>

            </ul>
        </div>
    </section>
    <span class="border-line"></span>
    <section class="welfare">
        <div class="welfare-content">
            <div class="desc">
                <p>七牛福利
                </p>
                <h2>关心你，关心你的家人</h2>
            </div>
            <ul class="welfare-list">
                <li class="welfare-item">
                    <i class="welfare-icon gift"></i>
                    <p class="welfare-desc">
                        给七牛家人的节日礼物
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon awards"></i>
                    <p class="welfare-desc">
                        期权奖励
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon insurance"></i>
                    <p class="welfare-desc">
                        五险一金
                        <br>商业保险
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon snacks"></i>
                    <p class="welfare-desc">
                        零食畅享
                        <br>免费健身
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon holiday"></i>
                    <p class="welfare-desc">
                        5 天带薪病假年度体检
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon flex"></i>
                    <p class="welfare-desc">
                        弹性办公
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon year-holiday"></i>
                    <p class="welfare-desc">
                        12 天年假
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon salary"></i>
                    <p class="welfare-desc">
                        有竞争力的薪酬
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <div class="g-footer">
        <div class="g-container">
            <div class="sns">
                <div class="icons-logo">
                    <a href="http://qiniu.com" class="f-icon-logo"></a>
                </div>
                <ul>
                    <li>
                        <a class="github" href="https://github.com/qiniu" target="_blank"></a>
                    </li>
                    <li>
                        <a class="weibo" href="http://weibo.com/qiniutek" target="_blank"></a>
                    </li>
                    <li class="li-qrcode">
                        <a class="wechat" href="#"></a>
                        <div class="qrcode">
                            <span><img src="./img/footer/qrcode.png" width="120" height="120"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="webmap">
                <ul id="menu-qn-footer" class="menu">
                    <li><a>产品与服务</a>
                        <ul class="sub-menu">
                            <li><a href="http://qiniu.com/products/kodo">对象存储</a></li>
                            <li><a href="http://qiniu.com/products/pili">直播云</a></li>
                            <li><a href="http://qiniu.com/products/fusion">融合 CDN</a></li>
                            <li><a href="http://qiniu.com/products/dora">数据处理</a></li>
                            <li><a href="http://qiniu.com/price">价格</a></li>
                        </ul>
                    </li>
                    <li><a>支持</a>
                        <ul class="sub-menu">
                            <li><a href="http://developer.qiniu.com/">开发者中心</a></li>
                            <li><a href="https://segmentfault.com/qiniu">问答社区</a></li>
                            <li><a href="http://blog.qiniu.com/">技术博客</a></li>
                            <li><a href="http://hd.qiniu.com/arch">架构师实践日</a></li>
                        </ul>
                    </li>
                    <li><a>生态与合作</a>
                        <ul class="sub-menu">
                            <li><a href="http://hd.qiniu.com/eco">牛扶持</a></li>
                            <li><a href="http://www.qiniu.com/cooperation">牛生态</a></li>
                            <li><a href="http://qiniu.com/development-cooperation">开发合作</a></li>
                            <li><a href="http://qiniu.com/channel">渠道合作</a></li>
                            <li><a href="http://qiniu.com/links">友情链接</a></li>
                        </ul>
                    </li>
                    <li><a>公司</a>
                        <ul class="sub-menu">
                            <li><a href="http://career.qiniu.com/aboutus.html">关于我们</a></li>
                            <li><a target="_blank" href="http://career.qiniu.com/">加入我们</a></li>
                            <li><a href="http://qiniu.com/contact">联系我们</a></li>
                            <li><a href="http://qiniu.com/report">媒体报道</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-legal">
                <div class="copyright">Copyright © 2016 <a href="http://qiniu.com">七牛云</a> Inc.</div>
                <ul class="footer-legal-links">
                    <li><a href="http://qiniu.com/user-agreement">用户协议</a></li>
                    <li><a href="http://qiniu.com/service-agreement">SLA 协议</a></li>
                    <li><a href="https://status.qiniu.com/">健康状态</a></li>
                </ul>
                <div class="cloud-verify">
                    <a target="_blank" rel="noopener" href="http://www.dca.org.cn/" class="verify-logo"></a>
                </div>
            </div>
            <div class="web-record"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502000961" target="_blank">沪公网安备 31011502000961 号</a><a href="http://www.miitbeian.gov.cn/" target="_blank">沪 ICP 备 11037377 号-5</a></div>
        </div>

    </div>

    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/workhere.js"></script>
    <script src="js/analytic.js"></script>
</body>

</html>
