<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>人在七牛</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="http://www.qiniu.com/public/v2/img/favicon.ico">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/workhere.css">
</head>

<body class="recruiting">

    {{> ./partials/header }}
    <section class="pic-slide">
    </section>
    <section class="learn-develop">
        <div class="learn-content">
            <div class="desc">
                <p>学习发展
                </p>
                <h2>我们针对新入职的员工制定了一套完善的培训体系</h2>
            </div>
            <ul class="feature-list">
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">入职指南</h4>
                    <p class="feature-item-desc">
                        我们希望帮助你在加入七牛后最短的时间里，适应环境并融入这个大家庭，专注成长从而找到未来。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">产品培训</h4>
                    <p class="feature-item-desc">
                        从了解产品开始，七牛人都是产品经理，适应环境并融入这个大家庭，专注成长从而找到未来。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">Buddy Program</h4>
                    <p class="feature-item-desc">
                        你的 Buddy 将在最开始的日子里 1:1 地帮助你了解公司、环境、人员、产品、相关业务技能。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">软技能进阶</h4>
                    <p class="feature-item-desc">
                        沟通与团队协作、领导力进阶、开发你的大脑——从思维导图开始，多样化课程将帮助你全方位成长。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">轮岗计划</h4>
                    <p class="feature-item-desc">
                        轮岗计划，将帮助你在体验与实战中全方位飞速成长。轮岗计划，将帮助你在体验与实战中全方位飞速成长。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">项目实操</h4>
                    <p class="feature-item-desc">
                        10% 的知识 + 20% 的技能 + 70% 的实战 = 战斗值爆表的你，项目实操，你准备好了吗？
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">大咖分享会</h4>
                    <p class="feature-item-desc">
                        公司内外的各路业界大牛，将带给你多元而又精彩的各类分享——前沿技术、工具应用、行业资讯、高能技巧，乃至兴趣爱好、独门秘诀，应有尽有。
                    </p>
                </li>
                <li class="feature-item">
                    <i class="feature-item-top-line"></i>
                    <h4 class="feature-item-title">素拓与团建</h4>
                    <p class="feature-item-desc">
                        我们不怕神对手，因为我们有大神队友！素拓和团建，你总能发现，战友们如此有爱。
                    </p>
                </li>

            </ul>
        </div>
    </section>

    <section class="welfare">
        <div class="welfare-content">
            <div class="desc">
                <p>七牛福利
                </p>
                <h2>关心你，关心你的家人</h2>
            </div>
            <ul class="welfare-list">
                <li class="welfare-item">
                    <i class="welfare-icon gift"></i>
                    <p class="welfare-desc">
                        给七牛家人的节日礼物
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon awards"></i>
                    <p class="welfare-desc">
                        期权奖励
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon insurance"></i>
                    <p class="welfare-desc">
                        五险一金<br>商业保险
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon snacks"></i>
                    <p class="welfare-desc">
                        零食畅想<br>免费健身
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon holiday"></i>
                    <p class="welfare-desc">
                        5 天带薪病假年度体检
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon flex"></i>
                    <p class="welfare-desc">
                        弹性办公
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon year-holiday"></i>
                    <p class="welfare-desc">
                        12 天年假
                    </p>
                </li>
                <li class="welfare-item">
                    <i class="welfare-icon salary"></i>
                    <p class="welfare-desc">
                        有竞争力的薪酬
                    </p>
                </li>
            </ul>
        </div>
    </section>
    {{> ./partials/footer }}

</body>

</html>
